.btn {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee!important;
  box-shadow: 0px 5px 0px 0px #3C93D5!important;
}

.blue:hover {
  background-color: #6FC6FF!important;
}

.green {
  background-color: #2ecc71!important;
  box-shadow: 0px 5px 0px 0px #15B358!important;
}

.green:hover {
  background-color: #48E68B!important;
}

.red {
  background-color: #e74c3c!important;
  box-shadow: 0px 5px 0px 0px #CE3323!important;
}

.red:hover {
  background-color: #FF6656!important;
}

.purple {
  background-color: #9b59b6!important;
  box-shadow: 0px 5px 0px 0px #82409D!important;
}

.purple:hover {
  background-color: #B573D0!important;
}

.orange {
  background-color: #e67e22!important;
  box-shadow: 0px 5px 0px 0px #CD6509!important;
}

.orange:hover {
  background-color: #FF983C!important;
}

.yellow {
  background-color: #f1c40f!important;
  box-shadow: 0px 5px 0px 0px #D8AB00!important;
}

.yellow:hover {
  background-color: #FFDE29!important;
}
